.playlist-track {
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #f7f7f7;
  border-bottom: solid #f7f7f7 1px;
  .playlist-track-summary {
    padding: 0 1rem;
    pointer-events: none;

    p {
      font-family: "Josefin Sans", sans-serif;
    }
    p:nth-of-type(1) {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p:nth-of-type(2) {
      font-size: 0.85rem;
    }
  }

  img,
  p {
    margin: 0;

    //prevents blocking events of div
    pointer-events: none;
  }

  img {
    width: 5rem;
    height: 5rem;
  }

  &:last-of-type {
    margin-bottom: 9rem;
  }
}

@media (min-width: 700px) {
  .playlist-track:last-of-type {
    margin-bottom: 4rem;
  }
}
