.main-user-playlists {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }

  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  border-bottom: solid #f7f7f7 1px;

  p {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    margin: 0;
    color: #f7f7f7;
  }

  img {
    width: 6rem;
  }
}
