.main-nav {
  position: fixed;
  bottom: 0;
  background: #2c003e;
  width: 100vw;
  height: 5rem;

  .nav-home-icon {
    color: #f7f7f7;
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  .nav-search-icon {
    color: #f7f7f7;
    font-size: 1.9rem;
  }

  .nav-library-icon {
    color: #f7f7f7;
    font-size: 2.2rem;
    margin-right: 2rem;
  }

  .main-nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.main-nav-top {
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;
  background: #2c003e;
  color: #f7f7f7;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;

  a {
    text-decoration: none;
    color: #f7f7f7;
  }

  button {
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 3.5rem;
    text-align: center;
    background-color: #f0a500;
    text-decoration: none;
    color: #f7f7f7;
    font-size: 0.8rem;
  }
}

.logo {
  width: 3rem;
}

//desktop
@media (min-width: 450px) {
  .main-nav {
    display: none;
  }
}
