.grid-container {
  margin-bottom: 5.5rem;
  display: grid;
  grid-template-columns: repeat(2, 10rem); //auto fill will leave empty cells
  grid-template-rows: repeat(
    auto-fit,
    10rem
  ); //auto fit will center cells and will share empty cells to center
  grid-gap: 1.1rem;
  justify-content: center;
  text-align: center;
  color: white;
}

.home-album-img {
  width: 10rem;
}

@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(3, 10rem);
  }
}

@media (min-width: 1000px) {
  .home-album-img {
    width: 100%;
  }
  .grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(
      4,
      minmax(10rem, 15rem)
    ); //auto fill will leave empty cells
    grid-template-rows: repeat(auto-fit, minmax(1rem, auto));
  }
}
