* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0a500;
}

.main {
  margin-top: 3.5rem;
}

@media (min-width: 400px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  .sidebar {
    padding: 0 3%;
    margin-left: 1rem;
    grid-area: sidebar;
    position: fixed;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    width: 18vw;
    height: 100vh;

    a {
      text-decoration: none;
      color: white;
      display: block;
    }
  }

  .content {
    width: 60vw;
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .grid-content {
    //min-width: 40vw;
  }

  .main {
    margin: 0;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-areas:
      "sidebar header ......"
      "sidebar content ......"
      "sidebar content  .......";
    color: #444;
  }
}

@media (min-width: 700px) {
  .main {
    grid-template-columns: repeat(2, auto-fit);
  }
}
