* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0a500;
}

.main {
  margin-top: 3.5rem;
}
.main-nav {
  display: block;
}

@media (min-width: 400px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  .sidebar {
    padding: 0 3%;
    grid-area: sidebar;
    position: fixed;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    width: 18vw;
    height: 100vh;

    a {
      margin-top: 1rem;
      text-decoration: none;
      color: #f7f7f7;
      display: block;
    }
  }

  .content {
    width: 60vw;
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .grid-content {
    //min-width: 40vw;
  }

  .main {
    margin: 0;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-areas:
      "sidebar header ......"
      "sidebar content ......"
      "sidebar content  .......";
    color: #444;
  }
}
.header {
  display: none;
}

.sidebar {
  display: none;
}

@media (min-width: 700px) {
  .logo {
    margin-top: 3rem;
    width: 5rem;
  }
  .main-nav {
    display: none;
  }
  .header {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    color: #f7f7f7;
    padding: 1rem 0;

    h1 {
      margin: 0;
      margin-top: 1rem;
    }
  }

  .sidebar {
    display: block;
    background: #2c003e;
  }
  .main {
    grid-template-columns: repeat(2, auto-fit);
  }
}
