* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0a500;
}

.main {
  margin-top: 3.5rem;
}
.main-nav {
  display: block;
}

.sidebar {
  display: none;
}

.main-header {
  display: none;
}

.content {
  margin-top: 5rem;
}
.right {
  display: none;
}

.left {
  display: none;
}

.main-playlists-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;

  a {
    margin-left: 0.5rem;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

    color: #f7f7f7;
  }
}

@media (min-width: 400px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: #f0a500;
  }

  .sidebar {
    padding: 0 3%;
    position: fixed;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    width: 18vw;
    height: 100vh;
    display: none;

    a {
      margin-top: 1rem;
      text-decoration: none;
      color: #f7f7f7;
      display: block;
    }
  }

  .content {
    min-height: 100vh;
    width: 60vw;
    grid-area: content;
    background: #f0a500;
    // border-right: 0.1rem solid #f7f7f7;
    // border-left: 0.1rem solid #f7f7f7;
  }

  .main-header {
    // grid-area: header;
    display: none;
    background: #f0a500;
    // border-right: 0.1rem solid #f7f7f7;
    // border-left: 0.1rem solid #f7f7f7;
  }

  .footer {
    grid-area: footer;
  }

  .grid-content {
    //min-width: 40vw;
  }

  .main {
    margin: 0;
    display: grid;
    justify-content: center;
    // grid-gap: 1rem;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-areas:
      "left header right"
      "left content right"
      "left content  right";
    color: #444;
  }
}

@media (min-width: 600px) {
  .main-playlists-nav {
    display: none;
  }
  .logo {
    margin-top: 2rem;
    width: 5rem;
  }
  .main-nav {
    display: none;
  }
  .main-header {
    position: fixed;
    z-index: 10;
    border-bottom: 0.2rem solid #f7f7f7;
    padding: 0.5rem;
    width: 60%;
    right: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    color: #f7f7f7;

    a {
      text-decoration: none;
      color: #f7f7f7;
      background: #2c003e;
      padding: 0.75rem;
      border-radius: 8px;
    }

    h1 {
      margin: 0;
    }
  }

  .sidebar {
    display: block;
    background: #2c003e;
  }
  .main {
    grid-template-columns: repeat(2, auto-fit);
  }

  .right {
    border-left: 0.1rem solid #f7f7f7;
    display: block;
    background: #2c003e;
    width: 20vw;
    grid-area: right;
  }

  .left {
    border-right: 0.1rem solid #f7f7f7;
    grid-area: left;
    display: block;
    background: #2c003e;
    width: 20vw;
  }
}
